* {
    margin-left: 1%;
    margin-right: 1%;
}

header {
    background: rgb(70, 90, 184);
    background: linear-gradient(90deg, rgba(70, 90, 184, 1) 0%, rgba(38, 19, 96, 1) 100%);
}

/* main {
    display: flex;
    flex-direction: row;
    display: inline-flex;
} */

.card {
    width: 15vw;
    background-color: #323d4f;
}