* {
    margin-left: 1%;
    margin-right: 1%;
}

header {
    background: rgb(70, 90, 184);
    background: linear-gradient(90deg, rgba(70, 90, 184, 1) 0%, rgba(38, 19, 96, 1) 100%);
}

.card {
    width: 15vw;
    background-color: #323d4f;
}

ul {
    padding-left: 0;
    list-style: none;
}

li {
    padding-bottom: 5%;
}

.todayHeading {
    display: inline-flex;
    align-items: center;
}

#card-container {
    display: inline-flex;
    flex-direction: row;
}

@media (max-width: 850px) {
    #card-container {
        flex-direction: column;
    }
}